<!DOCTYPE html>
<html>
<head>
<title>Times configuration</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="pragma" content="no-cache">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
<script language="javascript">
function update_list() {
	var modified = document.getElementById('modified');

	var xhr = new XMLHttpRequest();
	{% for i in data.controllers %}
		var fee = document.getElementById('{{ i.controller }}').value;
		var url = 'save-fees.html?controller={{ i.controller }}&fee='+fee;
		xhr.open('GET', url, false);
		xhr.send();
	{% endfor %}

	modified.value="1";

	return;
}
function confirm_modified() {
	var response;
	var modified = document.getElementById('modified');

	if (modified.value == "1") {
		response = confirm("Do you want to exit without Apply Changes?");
		if (!response)
			return false;
	}

	return true;
}
</script>
</head>

{% if data.finished == 1 %}
<body onload="window.alert('All changes saved!');">
{% else %}
<body>
{% endif %}
<center><ul>
<li><p><a href="index.html" onclick="return confirm_modified();">&lt;&lt;&nbsp;Back to main page</a></p></li>
<li><a href="apply.html" onclick="update_list();"><p>Apply Changes</p></a></li>
</ul></center>
<br>

<form action="save-times.html" method="POST">
<input type="hidden" name="modified" id="modified" value="{{ data.modified }}">

<center><p>Times Configuration</p></center>

<table id="tickers">
<tr>
<th>&nbsp;</th>
<th>Exchange Name</th>
<th>Fee by Operation</th>
</tr>
{% for i in data.controllers %}
<tr>
<td>&nbsp;</td>
<td >{{ i.controller }}</td>
<td><input type="text" id="{{ i.controller }}" maxlength="4" name="{{ i.controller }}" value="{{ i.fee }}" onchange="document.getElementById('modified').value = '1';"></td>
</tr>
{% endfor %}
</table><br>

</body>
</html>

