<!DOCTYPE html>
<html>
<head>
<title>Screener</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="pragma" content="no-cache">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datepicker.css') }}" /> 
<script type="text/javascript" src="{{ url_for('static', filename='datepicker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='timepicker.js') }}"></script>
</head>

<body>

{% include "menu.html" %}

{% block list %}
{% endblock %}

</body>
</html>
