<center><ul>
<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Data</a>
	<div class="dropdown-content">
		<a href="index.html">Screener Index</a>
		<a href="csv-download.html">CSV Download</a>
	</div>
</li>
<!-- <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Program Control</a>
	<div class="dropdown-content">
		<a href="bot-control.html" class="dropbtn">Bot Control</a>
	</div>
</li> -->
<!-- <li class="dropdown"><a href="operations.html" class="dropbtn">Bot Operations</a></li> -->
<li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Configuration</a>
	<div class="dropdown-content">
		<!-- <a href="config-bot.html">Bot Configuration</a> -->
		<a href="config-tickers.html">Tickers</a>
		<a href="config-exchanges.html">Exchanges</a>
		<a href="config-times.html">Exchange Times</a>
		<!-- <a href="config-fees.html">Exchange Fees</a> -->
		<!-- <a href="config-keys.html">API Keys</a> -->
	</div>
</li>
<li><a href="coinmarketcap.html">CMC</a></li>
</ul></center>
