<!DOCTYPE html>
<html>
<head>
<title>Cryptocurrency Operation Review</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta http-equiv="pragma" content="no-cache">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
</head>

<body>
<a name="top"><center><p>Cryptocurrency Operation Review</p></center></a>
<br>

<center><ul>
<li><p><a href="operations.html">&lt;&lt;&nbsp;Back to operations</a></p></li>
</ul></center>
<br>

<table id="prices">
<tr>
<th><b>Operation log</b></th>
</tr>

{% for i in data %}

<tr>
<td style="test-align: left;">{{ i.optext|safe }}</td>
</tr>

{% endfor %}
</table><br>

</body>
</html>

