{% extends "index-alt.html" %}

{% block list %}
<a name="top"><center><p>Opportunities Log</p></center></a>
<br>
<table id="prices" style="width: 100%; border: 0px;"><tr>
<td style="align:left;">Controller: <select name="controller" id="controller" onchange="get_screener();">
{% for i in data.controllers %}
	<option value="{{ i.controller }}"{{ i.selected }}>{{ i.controller }}</option>
{% endfor %}
</select>
</td>
</tr></table>

<table id="prices" style="width: 100%;">
<tr>
<th>Date</th>
<th>List Amount</th>
<th>&nbsp;</th>
</tr>

{% if data.log|length == 0 %}
</table>
<center>There are no listings for this controller</center>
{% else %}
{% for n in data.log %}
<tr>
<td id="ticker"><b>{{ n.log_date }}</b></td>
<td id="price"><b>{{ n.occurrences }}</b></td>
<td id="ticker"><input type="button" name="{{ n.secs }}" value="View Details" onclick="document.location.assign('view-log.html?controller={{ data.controller }}&secs={{ n.secs }}');"></td>
</tr>
{% endfor %}
</table>
<p><a href="#top">Back to top</a></p>
{% endif %}
<br><br>

<script>
function get_screener() {
	controller = document.getElementById('controller').value;
	document.location.assign('triangles.html?controller='+controller);

	return;
}
</script>

{% endblock %}
